#app_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
}

.table_row {
  display: flex;
  justify-content: space-between;
}

.item_button {
  border: 1px solid gray;
  display: inline-block;
}
